
body {
  background-color: #222;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  width: auto;
  padding: 0;
}

header {
  background-color: #333;
  padding: 20px;
  width: 100%;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  color: #af4c4c;
  font-weight: bold;
  font-family: cursive;
  width: auto;
}

.balance-container {
  background-color: #af4c4c;
  padding: 11px;
  border-radius: 50px;
  margin: 20px 0;
  text-align: center;
  color: #eee;
  width: auto;
}

#balance {
  font-size: 3em;
  font-weight: bold;
}

.transactions-container {
  display: flex;
  width: auto;
  justify-content: center;
  border-radius: 40px;
}

.transaction-column {
  background-color: #333;
  padding: 5px;
  border-radius: 50px;
  width: 100%;
  height: auto;
  text-align: center;
  border-color: #af4c4c;
  border: 1px solid #af4c4c;
}

.transaction-column h2 {
  margin-bottom: 10px;
  width: auto;
}

input[type="number"] {
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 100px;
  background-color: #444; 
  color: #eee;
  color: #eee;
  margin-bottom: 10px;
  font-weight: bold;
}

button {
  background-color:  #af4c4c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color:  rgb(145, 122, 122);
}

.home {
  background-color: #af4c4c;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  width: auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #eee;
}
.header {
  text-align: center;
  width: auto;
}

nav {
  background-color: black;
  padding: 10px;
  text-align: center;
  position: relative;
  width: auto;
  border: 1px solid #af4c4c;
}

nav ul {
  list-style: none;
  width: auto;
}

nav li {
  display: inline-block;
  margin: 0 10px;
  width: auto;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 8px 8px;
  border-radius: 10px;
  width: auto;
}

nav a:hover {
  background-color:  #af4c4c;
  width: auto;
}

.transactions-table {
  width: auto;
  margin: 10px ;
  padding: 10px ;
  border-radius: 10px;
  color: whitesmoke;
}

.transactions-table h2 {
  margin-bottom: 10px;
  text-align: center;
  background-color: #444;
  border-radius: 10px;
  width: auto;
  border: 1px solid #af4c4c;
}

.transactions-table table {
  padding: 4px 4px;
  background-color:  #af4c4c;
  border-radius: 30px;
  width: 100%;
}



.image-container {
  position: relative;
  width: auto;
}



.contact {
  background-color:  #af4c4c;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 80px;
  padding: 20px 20px;
  margin: 20px;
  border-radius: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-weight: 600;
  width: auto;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  background-color:#444;
}

.image-container img {
  width: 30%;
}

.about {
  background-color:  #af4c4c;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 20px 20px;
  margin: 20px;
  border-radius: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-weight: 500;
  width: auto;
}

h2 {
  font-size: xx-large;
  width: auto;
}
.h0 {
  font-size: x-large;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  width: auto;
}

.footer {
  background-color:  #af4c4c;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 80px;
  padding: 20px 20px;
  margin: 20px;
  border-radius: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-weight: 600;
  width: auto;
}

#transactions {
  border-radius: 40px;
  color:  #af4c4c;
  width: auto;
  
}



@media (max-width: 768px) {
}


.carousel-container {
  width: auto; 
  margin: 1px auto;
}

.carousel {
  position: center;
  overflow: hidden;
  width: auto;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  opacity: 1;
  background-color: #af4c4c;
  position: relative;
}

.carousel-item img {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.image-text {
  text-align: center; 
  font-size: 1.2em; 
  color: #eee;
  font-family: cursive;
}

@media (max-width: 768px) { 
  .carousel-item {
    flex-direction: column;
    align-items: center;
  }

  .image-text {
    margin-top: 10px;
  }
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: greenyellow;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}



h1 {
  margin-bottom: 20px;
  color: #af4c4c;
  font-weight: bold;
  text-align: center;
}

#registration-form {
  width: auto; 
  padding: 10px;
  border: 1px solid #af4c4c;
  border-radius: 5px;
  background-color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="number"] { 
  width: auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #af4c4c;
  border-radius: 3px;
  background-color: #444;
  color: #eee;
}

button[type="submit"] {
  background-color: #af4c4c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

button[type="submit"]:hover {
  background-color: rgb(145, 122, 122);
}



h1 {
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #af4c4c;
  border-radius: 10px;
}

#login-form {
  width: auto; 
  padding: 20px;
  border: 1px solid #af4c4c;
  border-radius: 5px;
  background-color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #af4c4c;
  border-radius: 3px;
  background-color: #444;
  color: #eee;
}

button[type="submit"] {
  background-color: #af4c4c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

button[type="submit"]:hover {
  background-color: rgb(145, 122, 122);
}


h4 {
  color: white;
  font-weight: 999;
  font-size: xx-large;
}